AUTH_SERVICE_PORT=5001
FLIGHT_SERVICE_PORT=4000
BOOKING_SERVICE_PORT=4001
API_GATEWAY_PORT=8080
NOTIFICATION_SERVICE_PORT=7001

AUTH_DATABASE_URL=mysql://avnadmin:<AIVEN_PASSWORD>@flight-booking-flight-booking-app.i.aivencloud.com:12937/auth_db
FLIGHT_DATABASE_URL=mysql://avnadmin:<AIVEN_PASSWORD>@flight-booking-flight-booking-app.i.aivencloud.com:12937/flights_db
BOOKING_DATABASE_URL=mysql://avnadmin:<AIVEN_PASSWORD>@flight-booking-flight-booking-app.i.aivencloud.com:12937/flights_booking_db

FLIGHT_SERVICE=http://localhost:4000
BOOKING_SERVICE=http://localhost:4001
AUTH_SERVICE=http://localhost:5001

JWT_SECRET=flight_booking_jwt_secret_key_2024
JWT_EXPIRY=1h
REFRESH_TOKEN_EXPIRY=7d

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

GMAIL_SMTP_EMAIL=
GMAIL_SMTP_PASSWORD=

NEXT_PUBLIC_API_URL=http://localhost:8080
